.main-label{
    font-size: 40px;
}
#thatForm{
    background: rgb(73, 73, 73);
    padding: 10px 10px;
}
.form-check-custom-bg:checked{
    background-color: #dc3545;
    border-color: #dc3545;
}

.form-check-custom-bg:focus{
    outline: 0;
    box-shadow: 0 0 0 0.10rem #dc3545;
}

.form-control:focus{
    border-color: #dc3545;
    outline: 0;
    box-shadow: 0 0 0 0.15rem #dc3545;
}

.form-select:focus{
    border-color: #dc3545;
    outline: 0;
    box-shadow: 0 0 0 0.15rem #dc3545;
}

.form-control, .form-select{
    width: 100%;
}

.footer{
    font-size: 30px;
}

body{
    background-image: url("../img/background.png");
}